@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import './variables.scss';

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
body{
  background-color: $white;
  margin-top: 81px;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  overflow: hidden;
  // padding-top: 60px;
  padding-bottom: 24rem;    /* Footer height */
  margin-top: -81px;
}
.other{
  background: $orange;
  background: linear-gradient(-45deg, $orange, $red) !important;
  box-shadow: 0px 9px 20px #00000050;
}
p{
  color: $black;
  font-size: var(--font6);
}
#testimonials{
  .owl-dots{
    margin-top: -30px;
    @media (max-width:550px) {
      margin-top: 0px;
    }
  }
  .owl-theme .owl-dots .owl-dot span{
    background: $orange;
    border: 1px solid $orange;
    margin: 0px 15px;
    transform: scale(1.3);
    transition: transform .3s ease-in-out, background .3s ease-in-out;
  }
  .owl-theme .owl-dots .owl-dot.active span{
    transform: scale(2);
    background: transparent;
  }
  .owl-theme .owl-dots .owl-dot:hover span{
    background: transparent;
  }
}
#sliderHome{
  position: relative;
  .owl-item{
    height: 100%;
  }
  .owl-dots{
    position: relative;
    z-index: 1;
    margin-top: -50px;
    .owl-dot{
      margin: 0px 10px;
      &.active{
        span{
          background: transparent;
          transform: scale(2);
        }
      }
      span{
        transform: scale(1.5);
        background: $white;
        border: 1px $white solid;
        transition: all .3s;
        &:hover{
          background: transparent;
        }
      }
    }
  }
}
@media (max-width:960px) {
  .cart{
    margin-right: 60px;
  }
}