@import './variables.scss';

.formContainer{
    display: flex;
    margin-top: var(--margin-60);
}
.infoContain{
    width: 44%;
    padding: 6% 3%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}