@import 'variables.scss';

.loader{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(175deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    span{
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        border: 10px solid transparent;
        border-top: 10px solid #00A8E2;
        border-left: 10px solid #00A8E2;
        border-radius: 50%;
        animation: animate 1.5s alternate ease-in-out infinite;
        animation-delay: calc(-0.1s * 1);
    }
    .var--2, .var--5, .var--8{
        border-top: 10px solid $black;
        border-left: 10px solid $black;
    }
    .var--3, .var--6, .var--9{
        border-top: 10px solid #DAD9D9;
        border-left: 10px solid #DAD9D9;
    }
    .var--2{
        top: calc(12px * 2);
        left: calc(12px * 2);
        right: calc(12px * 2);
        bottom: calc(12px * 2);
        animation-delay: calc(-0.1s * 2);
    }
    .var--2{
        top: calc(12px * 2);
        left: calc(12px * 2);
        right: calc(12px * 2);
        bottom: calc(12px * 2);
        animation-delay: calc(-0.1s * 2);
    }
    .var--2{
        top: calc(12px * 2);
        left: calc(12px * 2);
        right: calc(12px * 2);
        bottom: calc(12px * 2);
        animation-delay: calc(-0.1s * 2);
    }
    .var--3{
        top: calc(12px * 3);
        left: calc(12px * 3);
        right: calc(12px * 3);
        bottom: calc(12px * 3);
        animation-delay: calc(-0.1s * 3);
    }
    .var--4{
        top: calc(12px * 4);
        left: calc(12px * 4);
        right: calc(12px * 4);
        bottom: calc(12px * 4);
        animation-delay: calc(-0.1s * 4);
    }   
    .var--5{
        top: calc(12px * 5);
        left: calc(12px * 5);
        right: calc(12px * 5);
        bottom: calc(12px * 5);
        animation-delay: calc(-0.1s * 5);
    }   
    .var--6{
        top: calc(12px * 6);
        left: calc(12px * 6);
        right: calc(12px * 6);
        bottom: calc(12px * 6);
        animation-delay: calc(-0.1s * 6);
    }   
    .var--7{
        top: calc(12px * 7);
        left: calc(12px * 7);
        right: calc(12px * 7);
        bottom: calc(12px * 7);
        animation-delay: calc(-0.1s * 7);
    }   
    .var--8{
        top: calc(12px * 8);
        left: calc(12px * 8);
        right: calc(12px * 8);
        bottom: calc(12px * 8);
        animation-delay: calc(-0.1s * 8);
    }   
    .var--9{
        top: calc(12px * 9);
        left: calc(12px * 9);
        right: calc(12px * 9);
        bottom: calc(12px * 9);
        animation-delay: calc(-0.1s * 9);
    }
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}