@import './variables.scss';

.tab {
  width: 100%;
}
.TabsContainer{
  width: 94% !important;
  padding: var(--margin-30) 3% 0px;
  margin-top: var(--margin-60);
}
.panel{
  background-color: #fff;
  padding: var(--margin-60) 3%;
  box-shadow: 0px 9px 20px #00000030;
  h2{
    color: $red;
    text-transform: capitalize;
    margin-bottom: var(--margin-30);
  }
}
.links{
  width: fit-content;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0px;
  box-shadow: 0px 9px 20px #00000030;
  transition: top .1s;
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 60px;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font6);
    color: $white;
    padding: 0px 30px;
    background-color: $red;
    transition: color .3s, background-color .3s;
    cursor: pointer;
    &:hover{
      background-color: #ff096260;
    }
    &.selected{
      background-color: #fff;
      color: $red;
    }
  }
  @media (max-width:960px) {
    justify-content: unset;
    margin-top: 8px;
    li{
      height: 45px;
    }
  }
}